# Ignorer les fichiers de build générés
/bin/
/obj/

CodingTime.API/CodingTime.API/appsettings.json

# Ignorer les fichiers de l'environnement
.vscode/
.idea/

# Ignorer les fichiers de configuration sensibles
/appsettings.json
/appsettings.Development.json
/appsettings.Production.json
/appsettings.Staging.json

# Ignorer les fichiers appsettings.json spécifiques au dossier
/CodingTime.API/CodingTime.API/appsettings.json

# Ignorer les fichiers de dépendances NuGet
/packages/

# Ignorer les fichiers de publication
/publish/

# Ignorer les journaux et fichiers temporaires
/logs/
/temp/
